REDPANDA_VERSION=v26.2.2
REDPANDA_CONSOLE_VERSION=v3.11.0
POSTGRES_VERSION=17.11

POSTGRES_DB=ingestion
POSTGRES_USER=ingestion_app
POSTGRES_PASSWORD=replace_with_local_password

REDPANDA_KAFKA_PORT=19092
REDPANDA_CONSOLE_PORT=8080
POSTGRES_PORT=5432
